<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style1.css" />
    <link rel="stylesheet" href="../public/css/responsiveness.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>
     Incorp Square
    </title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      type="text/css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,800"
      type="text/css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="../assets/logo__2_-removebg-preview.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">

    <style type="text/css">
     
      .img_box img {
        max-width: 100%;
      }
      .slider_container .container {
        padding: 0 15px;
        max-width: 1230px;
        margin: 0 auto;
      }
     .card_slider{
        padding: 15px 30px;
        width: 80%;
       
      }
      .swiper-button-next,.swiper-button-prev{
        color: #EFAB30;

      }
      .card_slider1{
        padding: 50px 30px;
      }
      .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: 'next' !important;
    margin-right: -21px !important;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    margin-left: -21px;
}

.aboutus {
  position: relative;
  background-image: url('/assets/aboutus.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 50px 20px;
  color: #fff;
  height: 100vh; /* Set the height to 100vh */
  overflow: auto; /* Ensure the section is scrollable */
  image-rendering: optimizeQuality;
}

.aboutusall {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.6); /* Optional: add a background to make text more    readable */
  padding: 20px;
  border-radius: 10px;
  margin-top: 190px;
}

.aboutus-mainheading h1,
.aboutus-heading h2,
.aboutus-smallhead p {
  margin: 20px 0;
}
.aboutus-mainheading{
  position: relative;
  top: 58px;
}


.location-container {
    position: relative;
    width: 500px;  /* Adjust width as needed */
    height: 420px; /* Adjust height as needed */
}

.location-icon {
    position: absolute;
    top: 26%;      /* Adjust position as needed */
    left: 50%;     /* Adjust position as needed */
    transform: translate(-50%, -50%);
    font-size: 24px; /* Adjust size as needed */
    color: red;     /* Change color as needed */
}

  </style>
  </head>
  <body>
   

    <!--Navbar-->
    <div class="navbar" id="navbar" style="display: none;">
      <div class="navbar-center">
        <a href="#home" > Home</a>
        <div class="dropdown">
        <a href="#services" class="dropdown-toggle">Services</a>
        <div class="dropdown-content">
         
          <a href="#pllc">Private Limited Company </a>
          <a href="#llp">Limited Liability Partnership</a>
          <a href="#p">Partnership</a>
          <a href="#sp">Sole Proprietorship</a>
          <a href="#gst">GST</a>
          <a href="#mr">MSME</a>
          <a href="#ddit">Startup India</a>
          <a href="#iec">IEC</a>
        </div>
      </div>
        <a href="#aboutus">About Us</a>
        <a href="#contactus">Contact Us</a>
      </div>
      <div class="hamburger-menu" id="hamburgerMenu">
        <div class="hamburger-menu-bar"></div>
        <div class="hamburger-menu-bar"></div>
        <div class="hamburger-menu-bar"></div>
      </div>
      <div class="close-button" id="closeButton">&times;</div>
    </div> 
    <!--Navbar ends-->
    <section class="section1 bg-image" >
    
      <div class="navbar" id="navbar">
        <div class="navbar-center">
          <a href="#home" > Home</a>
          <div class="dropdown">
          <a href="#services" class="dropdown-toggle">Services</a>
          <div class="dropdown-content">
           
            <a href="#pllc">Private Limited Company </a>
            <a href="#llp">Limited Liability Partnership</a>
            <a href="#p">Partnership</a>
            <a href="#sp">Sole Proprietorship</a>
            <a href="#gst">GST</a>
            <a href="#mr">MSME</a>
            <a href="#ddit">Startup India</a>
            <a href="#iec">IEC</a>
          </div>
        </div>
          <a href="#aboutus">About Us</a>
          <a href="#contactus">Contact Us</a>
        </div>
        <div class="hamburger-menu" id="hamburgerMenu">
          <div class="hamburger-menu-bar"></div>
          <div class="hamburger-menu-bar"></div>
          <div class="hamburger-menu-bar"></div>
        </div>
        <div class="close-button" id="closeButton">&times;</div>
      </div> 

      <div class="div1" id="home">
      
        <div class="div1-text" >
          
         
      

          <div class="div1-text1" ><h3>Right Time to bring your ideas into reality. Start levelling up your business</h3></div>
          <div class="div1-text2"><h1>Join us to build your business from best creative team with smart ideas</h2></div>
          <div class="div1-text3"> <p>we make our clients long lasting with improvements and realize thier business goals</p></div>
         <div class="div1-text4"><a href="#contactus"><input type="button" value="contact-us"></a></div>
         
        
        
        </div>
     
      </div>
    
    </section>



   
    <h3 id="services" style="opacity: 0;">text</h3> 
    <section class="section2"  >
      
      <div class="services" >
       
      <div class="div1" >
        
      <div class="section2-container-swiper" >
       
        <div class="div1-1"  >
            
          <h3 >Find what suits you better</h3>
         
          <p style="color: black;">
            IncorpSquare with its expertise help you incorporate your business in a tailormade suitability within the framed guidelines and enactments. 
          </p>
        
      </div>
        <div class="div1-2" >
          <div class="div1-2-img">
            <img src="../assets/Launch logo 3.jpg"  alt="">
          </div>
          <div class="div1-2-text">
            <p style="color: black;">Be first to design your business and capture the market. Your chosen entity will guide business decisions, tax efficiencies and ability to scale
              By carefully considering the forms of business entity that are available and then intelligently choosing an appropriate one, you can reduce exposure to liabilities, save taxes and launch the business in a form capable of being financed and conducted efficiently.  In addition, formalizing the business helps prevent misunderstandings among the participants by defining their ownership, roles and duties in the business.
              </p>
            <a href="#swiper"><input type="button" value="know more about our services"></a>
          </div>
          </div>
      </div>
    </div> 
        <div class="brand-items">
          <div class="items">
            <div class="slider_container">
              <div class="container">
                <div class="swiper card_slider" style="height: 300px;">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="img_box" id="swiper">
                        <a href="#pllc">
                       
                      <img src="../assets/Private Limited - Copy.png"   alt="" srcset="">
                    </a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="img_box">
                       <a href="#llp"> 
                        
                  <img src="../assets/LLP.png"  alt="" srcset="">
                </a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="img_box">
                       <a href="#p">
                        
                  <img src="../assets/partnership.png"  alt="" srcset="">
                  </a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="img_box">
                        <a href="#sp">
                        
                      <img src="../assets/Sole Proprietor.png"  alt="" srcset="">
                    </a>
                      </div>
                    </div>
                   
                    <div class="swiper-slide">
                      <div class="img_box">
                       <a href="#gst">
                       
                  <img src="../assets/GST.png" alt="" srcset="">
                </a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="img_box">
                        <a href="#mr">
                        
                      <img src="../assets/MSME Logo.png"  alt="" srcset="">
                    </a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="img_box">
                        <a href="#ddit">
                        
                      <img src="../assets/startupindia.png"  alt="" srcset="">
                    </a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="img_box">
                        <a href="#iec">
                        
                      <img src="../assets/IEC.png"  alt="" srcset="">
                    </a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>


          </div>
        </div>



        
        </div>
      </div>


      <div class="div2">
        <div class="div2-1">
          <div class="div2-1-1">
            <div class="div2-maincontainer"  >
            
              <div class="div2-container" id="plc1">
            <div class="div2-1-img"  data-aos="fade-left" id="community" > 
             
             
            <img src="../assets/Private Limited - Copy.png"  alt="" srcset="">
              
            </div>
            <div class="div2-2-text" >
              <div class="div2-2-text" >
                <h3 id="pllc" style="opacity: 0;">text</h3>
                <div class="div2-2-heading"  >
                
                <h2  >Process of Pvt Ltd Company Registration</h2>
               
              
            </div>
              <p >
               
                For Pvt Company registration in India, obtain a Digital Signature Certificate (DSC) and Director Identification Number (DIN). Choose a unique name, draft the MoA and AoA, and submit the incorporation application through the SPICe+ form with the necessary documents and fees.</p>
                
                  <div class="card-container">
                <div class="row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">STEP 1</h5>
                        <h3 class="card-title" >Obtaining a DSC and DIN</h3>
                        
                        <p class="card-text " >Making a digital signature for directors is the first step in Pvt Limited Company Registration. DIN is allotted for up to three new directors during incorporation.</p>
                       
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">STEP 2</h5>
                        <H3 class="card-title">Choosing a Unique Name</H3>
                        <p class="card-text">Choose a new and unique name for your proposed company in compliance with name availability guidelines that don’t conflicts with any existing companies, LLPs, or trademarks.</p>
                       
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">STEP 3</h5>
                        <h3>Draft MOA, AOA, & Declarations</h3>
                        <p class="card-text">Prepare the Memorandum (MOA) and Articles of Association (AOA) detailing legal and internal rules and draft a few declarations as per the Companies Act 2013. We are here to help.</p>
                       
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">STEP 4</h5>
                        <h3>Submission of Spice+ & Agile Form</h3>
                        <p class="card-text">Finally, Submit the Spice + & Agile Forms with ROC using directors/shareholders’ DSC, along with the promoter’s signed declerations  and proof of registered address for incorporation.</p>
                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        

          <div class="div2-container" id="llp1">
            
            <div class="div2-1-img" id="team" data-aos="fade-left">
              
            <img src="../assets/LLP.png"  alt="" srcset="">
              
            </div>
            <div class="div2-2-text">
              <div class="div2-2-text">
                <h3 id="llp"  style="opacity: 0;">Text</h3>
                <div class="div2-2-heading">
                  <h2>How to Register LLP in India? </h2>
                </div>
              
              <p >  With digitization of all MCA services, the LLP Registration process has become quicker, easier and way more hassle-free than before. There is no requirement for visiting the ROC’s Office to submit the required application and documents now. The entire process has been shifted online and can be completed in just a few simple steps.</p>
                <div class="card-container">
                <div class="row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card" data-set="The LLP Registration process in India begins with preparing all the documents required for LLP registration. These documents are crucial for the approval of the LLP Registration form.">
                      <div class="card-body">
                        <h5 class="card-title">STEP 1</h5>
                        <h3 class="card-title" >Documentation</h3>
                       
                        <!-- <p class="card-text ">The LLP Registration process in India begins with preparing all the documents required for LLP registration. These documents are crucial for the approval of the LLP Registration form.Among the LLP Registration documents list, we require the KYC documents of all partners. Added to that is the proof of registered office address and no objection from the office property owner.</p> -->
                        <p class="card-text" >In India, the LLP registration process starts with preparing essential documents, including KYC documents of all partners, proof of registered office address, and a no-objection certificate from the office property owner.</p>
                       
                      </div>
                    
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card"  >
                      <div class="card-body">
                        <h5 class="card-title">STEP 2</h5>
                        <H3 class="card-title">Get DSCs of All Partners</H3>
                        <!-- <p class="card-text">After arranging all the required documents, the next step is to obtain the Digital Signatures of all partners.Digital Signatures are required to sign and authenticate the application for LLP Registration. Other than that, the partners use their DSCs to attest the documents submitted as well.</p> -->
                        <p class="card-text">After arranging documents, partners must obtain Digital Signatures to authenticate the LLP Registration application. DSCs are also used to attest submitted documents.</p>
                       
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">STEP 3</h5>
                        <h3>Select & Reserve LLP Name</h3>
                        <!-- <p class="card-text">The name of your LLP should not only be practically appropriate but also in compliance with necessary MCA guidelines. Once you have selected an appropriate name, you are required to get it approved and reserved by the ROC.For this, you can either use the FiLLiP or the RUN-LLP (Reserve Unique Name) forms. Both these forms are available on the MCA website.</p> -->
                        <p class="card-text">Choose an LLP name compliant with MCA guidelines. Get it approved and reserved by the ROC using FiLLiP or RUN-LLP forms, available on the MCA website.</p>
                       
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">STEP 4</h5>
                        <h3>Apply for LLP Registration Online</h3>
                        <!-- <p class="card-text">The application for Limited Liability Partnership Registration online can be found on the MCA website. Once you access the application (FiLLiP), you can fill in all the details.To complete it, also upload the scanned, self-attested copies of the documents. Next, attach a Class 3 Digital Signature of the authorised designated partner and submit the form after paying the prescribed fee.</p> -->
                        <p class="card-text">Access the LLP Registration application (FiLLiP) on the MCA website. Fill in details, upload scanned, self-attested copies of documents, and attach a Class 3 Digital Signature. Submit after paying the fee.</p>
                       
                      </div>
                    </div>
                  </div>
                </div> 


                
                 <div class="row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">STEP 5</h5>
                        <h3>Get Certificate of Incorporation for your LLP</h3>
                        <!-- <p class="card-text">The submitted application reaches the Registrar of Companies and upon thorough examination, gets either approved or rejected. If approved, the ROC immediately grants a Certificate of Incorporation to the LLP confirming its registration. Besides the certificate, the LLP also receives its LLPIN, PAN & TAN.</p> -->
                       <p class="card-text">The submitted LLP application undergoes thorough examination by the Registrar of Companies. If approved, the ROC grants a Certificate of Incorporation, along with LLPIN, PAN, and TAN, confirming the LLP's registration.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">STEP 6</h5>
                        <h3>Submit LLP Agreement</h3>
                        <!-- <p class="card-text">LLP Agreement is an important constitution document of the LLP which includes the terms and conditions mutually agreed between its partners.It must be submitted within 30 days after the incorporation. The submission of LLP Agreement marks the completion of the process.</p> -->
                        <p class="card-text">The LLP Agreement, a vital document, outlines terms agreed upon by partners. It must be submitted within 30 days of incorporation. Its submission signifies the completion of the LLP registration process.</p>
                       
                      </div>
                    </div>
                  </div>
                
                </div>


              </div>





              </div>
            </div>
          </div>




          <div class="div2-container" id="teamllp1" >
            <div class="div2-1-img" data-aos="fade-left">
              
                  <img src="../assets/partnership.png"  alt="" srcset="">
              
            </div>
            <div class="div2-2-text">
              <h3 id="p" style="opacity: 0;">text</h3>
              <div class="div2-2-heading">
                <h2>How to Register a Partnership Firm in India? </h2>
              </div>
            <p > The procedure of registration of partnership firm in India requires an application to be filed to the Registrar of Firms in the prescribed mode. Where the mode is online, applications can be accessed, filled out and submitted on the website of the Registrar of Firms (ROF). Where the mode is offline, the applicant needs to visit the ROF’s office in the state and file the application manually. Regardless of the mode of application, the applicant must navigate through the following steps to complete the Partnership Firm Registration process.</p> 
              <div class="card-container">
              <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card card2">
                    <div class="card-body">
                      <h5 class="card-title">Step-1: Documentation</h5>
                    
                      
                      <!-- <p class="card-text ">The Partnership Registration process in India starts with preparing the necessary documentation. Partnership Firm documents required include KYC documents of all partners, including their PAN, Adhar, and personal address proof. Additionally, the proof of the firm’s Registered Office address must also be submitted. Besides, if the office is rented, the applicant must submit the stamped and notarised Rent Agreement along with an NOC from the property owner.</p> -->
                      <p class="card-text" >The Indian Partnership Registration process begins with preparing required documents, including KYC documents of partners, PAN, Aadhar, and address proof. Submit proof of the firm's Registered Office, including stamped Rent Agreement and NOC if rented.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-2: Select a Name of the Firm</h5>
                    
                      <!-- <p class="card-text">The name of your Partnership Firm must be unique and communicative of its brand and business activity. Moreover, it should not be identical or similar to the name of an existing business or a registered trademark. To check the availability of the selected name, you can use the name search tool on MCA and IP India websites.</p> -->
                     <p class="card-text">Choose a unique and descriptive name for your Partnership Firm, avoiding similarity with existing businesses or trademarks. Verify name availability using the name search tool on MCA and IP India websites.</p>
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-3: Partnership Deed Registration</h5>
                    
                      <!-- <p class="card-text">Partnership Deed is the legal basis of Partnership Firm formation in India. The deed is drafted on a Stamp Paper, and stamped by a public notary. All partners sign the document in the presence of the notary and two other witnesses. Payment of stamp duty and notary charges completes the process of Partnership deed Registration.</p> -->
                     <p class="card-text">The Partnership Deed, a crucial document for forming a Partnership Firm in India, is drafted on Stamp Paper and notarized. All partners sign in the presence of a notary and witnesses, with stamp duty and notary charges finalizing the registration.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-4: PAN and TAN of the Firm</h5>
                     
                      <!-- <p class="card-text">The application for allotment of PAN of the firm is made in Form 49A. PAN is used for Income Tax compliance. However, for TDS compliance, TAN is necessary. The application for TAN is filed in Form 49B. The Government assigns PAN and TAN to the firm after the approval of these applications.</p> -->
                     <p class="card-text">To obtain a PAN for the firm, file Form 49A for Income Tax compliance. For TDS compliance, apply for TAN using Form 49B. Upon approval, the Government assigns PAN and TAN to the firm.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-5: GST Registration for Partnership Firm</h5>
                      
                      <!-- <p class="card-text">To fulfil compliances related to GST, like payment of taxes and filing of tax returns, GST Registration for Partnership Firm is necessary. For this, an appropriate application along with the required documents must be uploaded on the online GST portal. After the GST registration is granted, the Department allotts a unique GSTIN to the firm. This GSTIN can be used for all GST-related activities in the future. </p> -->
                     <p class="card-text">For GST compliance, Partnership Firms must register by submitting an application and required documents on the GST portal. Upon approval, the Department issues a unique GSTIN for future GST-related activities.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-6: Partnership Firm Registration with the ROF</h5>
                      
                      <!-- <p class="card-text">To register a Partnership firm in India, you must first check the mode of application in your state. If your state allows online registration of Partnership Firm, you can visit the official website of ROF, and submit the application along with necessary documents and government fees. However, if the application mode is offline, you can visit the ROF’s office, get the application, and fill it manually for submission. After the application is processed, the ROF will register your firm and issue Partnership Firm Registration Certificate in its name.</p> -->
                     <div class="card-text">
                      To register a Partnership firm in India, check the registration mode in your state. For online registration, submit the application and documents on the ROF website. For offline registration, visit the ROF office, fill the form, and submit.
                     </div>
                    </div>
                  </div>
                </div>
              </div>



            </div>


            </div>
          </div>
          <div class="div2-container"  id="man" >
            <div class="div2-1-img" data-aos="fade-left">
            
                      <img src="../assets/Sole Proprietor.png"   alt="" srcset="">
              
            </div>
            <div class="div2-2-text">
              <h3 id="sp" style="opacity: 0;">Text</h3>
              <div class="div2-2-heading">
                <h2>How to Register a Proprietorship Registration in India? </h2>
              </div>
            <p >  The Proprietorship Registration process in India is the easiest and simplest among all business structures. There is no requirement of a formal incorporation. You can straightaway start your business activities after you have fulfilled all minimum requirements mentioned above. However, after starting business operations, you must take certain mandatory registrations to establish your firm’s legal existence. Navigate through the steps below to complete the Sole Proprietorship Registration process in India.</p>
             <div class="card-container">
              <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-1: Documentation</h5>
                    
                      
                      <!-- <p class="card-text">The process of Sole Proprietorship Registration in India starts by preparing all the Proprietorship Registration documents. These documents include the KYC documents of the proprietor, and the proof of registered office address. Also an NOC from the owner of the office premises is required. A complete list of these documents have been listed above. Make sure they are accurate and contain the updated information.</p> -->
                      <p class="card-text" >To register a Sole Proprietorship in India, start by preparing the necessary documents, including KYC documents and proof of address. Ensure the documents are accurate and up-to-date.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-2: Select a Unique Name for Business</h5>
                    
                      <!-- <p class="card-text">The next step is to select a unique name for your Sole Proprietorship Firm. The name must be legally valid, and available for use. It must not be used by any other registered business. Also, the selected name must not infringe the intellectual property rights of a registered trademark user. Make sure that after selecting the name of your proprietorship business, you register it as a trademark. This prevents its misuse and plagiarism by other entities.</p> -->
                     <p class="card-text">After preparing the documents, the next step is to select a unique and legally valid name for your Sole Proprietorship. Ensure it's not used by others and doesn't infringe on trademarks.</p>
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-3: Take online MSME / Udyam Registration</h5>
                    
                      <!-- <p class="card-text">Sole Proprietorships are usually small-scale local businesses that qualify as MSMEs. You can obtain the MSME registration for your proprietorship business and avail numerous benefits. These include collateral-free loans, interest subvention on loans, timely payments by buyers, and 50% rebates on IPR registration. Moreover MSME registration Certificate will be crucial for opening a business bank account. We provide MSME Registration to Proprietorship Firms throughout India.</p> -->
                     <p class="card-text">Sole Proprietorships, as MSMEs, can benefit from MSME registration, including access to loans, interest subvention, and IPR rebates. The certificate is essential for opening a business bank account. We offer MSME Registration services nationwide.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-4: Proprietorship GST Registration</h5>
                     
                      <!-- <p class="card-text">Eligible Sole Proprietorship Firms must get GST registration for fulfilling all GST-related compliances. The applicant firm can submit the application and all GST registration documents required for a Proprietorship firm on the GST portal. As soon as the application is approved by the GST department, a GSTIN is allotted to the firm. This GSTIN can be used for all future GST-related activities.</p> -->
                     <p class="card-text">Sole Proprietorship firms must register for GST to comply with GST regulations. The application and required documents can be submitted online. Once approved, a GSTIN is issued for future GST activities.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-5: Get Shops & Establishment Act Registration</h5>
                      
                      <!-- <p class="card-text">Except manufacturing businesses, all businesses are mandatorily required to get the Shops & Establishment Registration. This includes Sole Proprietorship firms as well. The registration is obtained from the State’s Labour Department for which either an online or offline application is filed. The application must be accompanied by all the documents listed above. </p> -->
                     <p class="card-text">
                      All businesses, except manufacturing, must obtain Shops & Establishment Registration, including Sole Proprietorships. Apply online or offline to the State's Labour Department with the required documents.
                     </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-6: Partnership Firm Registration with the ROF</h5>
                      
                      <!-- <p class="card-text">Based on the nature of business activity and the registered office location of the Proprietorship, certain licenses must be mandatorily obtained. For instance, IEC Code is required if the Proprietorship business conducts import / export activities. Another example would be a FSSAI license required if the business is dealing in food related activities.</p> -->
                     <p class="card-text">
                      Depending on the business activity and location, licenses such as IEC Code for import/export or FSSAI for food-related businesses are mandatory for Sole Proprietorships. Obtain these licenses to operate legally.
                     </p>
                    </div>
                  </div>
                </div>
              </div>



            </div>

            </div>
          </div>
          
          <div class="div2-container">
            <div class="div2-1-img" data-aos="fade-left"  >
             
              
                  <img src="../assets/GST.png"  alt="" srcset="">
              
            </div>
            
            <div class="div2-2-text">
             <h3 id="gst" style="opacity: 0;">text</h3>
              <div class="div2-2-heading" >
               
                <h2 >How to Register for GST in India?</h2>
              </div>
             
            <p >  GST Registration procedure in India is entirely online and can be completed quickly in a series of simple steps. Our team at Setindiabiz has been trained in assisting clients throughout the GST Registration process. Our services begin with preparing and drafting all the documents required for GST registration and extend to filing the complete application. The steps below explain how we secure GST registration for our clients in a convenient and hassle-free manner.</p>
           <div class="card-container">
              <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body" >
                      <h5 class="card-title" >Step-1: Documentation</h5>
                    
                      
                      <!-- <p class="card-text">The documents required for GST Registration are based on the type of entity and the nature of its business activity. It is extremely important that all the documents required for online GST registration are prepared beforehand. This helps avoid any hindrance in the application process later. A complete list of such documents is mentioned in the section above.</p> -->
                      <p class="card-text">The documents needed for GST registration depend on the entity type and business nature. It's crucial to prepare these documents in advance to avoid delays in the registration process.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-2: Register on the GST Portal</h5>
                    
                      <!-- <p class="card-text">GST registration for new business is an application-based process. The first part of the application seeks basic registration details. This includes type of entity, name of entity, PAN number, and the state / UT where the business operates. Providing these details enables successful registration on the GST Portal.</p> -->
                     <p class="card-text">For GST registration, new businesses need to fill out an application on the GST Portal. The application requires basic details like entity type, name, PAN number, and operating state/UT.</p>
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-3: OTP-based Verification</h5>
                    
                      <!-- <p class="card-text">GST Registration in India is a PAN-based process. The applicant must provide his PAN details in the first part of the application. As mentioned earlier, the PAN must be linked to the applicant’s Aadhar, mobile number and email address for OTP verification.</p> -->
                     <p class="card-text">For GST registration in India, the applicant must provide their PAN details, which must be linked to their Aadhaar, mobile number, and email for OTP verification in the application process.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-4: TRN Generation</h5>
                     
                      <!-- <p class="card-text">As soon as the PAN is entered, an OTP is sent to the linked mobile number and email address. After furnishing the two OTPs successfully, a Temporary Reference Number or TRN is generated. You can use the TRN for completing the application form further. Note that the TRN will be valid for 15 days only, so the process must be completed within this time period.</p> -->
                     <p class="card-text">Upon entering the PAN, OTPs are sent to the linked mobile and email. After entering the OTPs, a Temporary Reference Number (TRN) is generated, valid for 15 days for completing the application.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-5: Complete the GST Application Form</h5>
                      
                      <!-- <p class="card-text">Sign in to the GST portal using the TRN and access the GST REG-01 application form. Complete the form by filling in the requisite details and uploading the requisite documents. This includes information about the business, promoters/partners, location of the business, products/services, and authorised individuals. Upon completing the form, verify it using the authorised signatory’s DSC or EVC. </p> -->
                     <p class="card-text">
                      Sign in using TRN, access GST REG-01 form, fill in business, promoter, location, product/service, and authorized signatory details. Upload required documents and verify the form using DSC or EVC.
                     </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-6: Issuance of GSTIN</h5>
                      
                      <!-- <p class="card-text">Upon submission of all the details and documents, the application is processed in approximately 10 to 15 days. After successful verification of the form, the department allots a unique GSTIN to the applicant business. This GSTIN can further be used to check GST registration status and fulfil all GST-related compliances.</p> -->
                     <p class="card-text">After submitting all details and documents, the application is processed in 10-15 days. Upon verification, a unique GSTIN is allotted to the business. This GSTIN is used for compliance and status checks.</p>
                    </div>
                  </div>
                </div>
              </div>
             

              
            </div>
              
            </div>
          </div>
          <div class="div2-container" id="contract" >
            <div class="div2-1-img" data-aos="fade-left">
             
            <img src="../assets/MSME Logo.png"  alt="" srcset="" style="width: 64% !important;">
              
            </div>
            <div class="div2-2-text">
              <h3 id="mr" style="opacity: 0;">text</h3>
              <div class="div2-2-heading">
                <h2>MSME Registration Process in India</h2>
              </div>
             <p > The MSME Registration process is quick, simple, and easy. Applicants can visit the online MSME / Udyam portal, choose the type of registration and continue with the application process. Providing the details of the applicant and the organisation correctly is crucial for a successful and hassle-free registration. Additionally, the applicant must be ready with the entire MSME Registration documents list beforehand to avoid any chaos later.</p>
             <div class="card-container">
              <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-1: Documentation</h5>
                    
                      
                      <!-- <p class="card-text">MSME / Udyam Registration Process is incomplete without the submission of documents listed above. Submitting inadequate or incorrect documents can lead to a complete rejection of the application. So,it is strongly recommended that you prepare all documents required for MSME registration beforehand, to avoid any hindrance later.</p> -->
                      <p class="card-text">For successful MSME/Udyam registration, submitting all required documents is crucial. Incomplete or incorrect documents can lead to rejection. Prepare all necessary documents beforehand to ensure a smooth registration process.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-2: Select the type of MSME Registration Online</h5>
                    
                      <p class="card-text">Visit the Udyam Registration Portal and select the type of registration. The options include registration for new entrepreneurs, and re-registration for those with the old UAM/EM II registration.</p>
                     
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-3: OTP-based verification of PAN & Aadhar</h5>
                    
                      <!-- <p class="card-text">After selecting the type of registration, the applicant must provide his Adhar and PAN numbers. Adhar number will be verified using an OTP sent to the linked mobile number. PAN, on the other hand, will be verified using the Income Tax / GST database integrated with the portal.</p> -->
                     <p class="card-text">After selecting the registration type, provide your Aadhar and PAN numbers. Aadhar will be verified via OTP on the linked mobile, while PAN will be verified through the Income Tax/GST database linked to the portal.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-4: Fill out the Udyam registration form</h5>
                     
                      <!-- <p class="card-text">Next, the registration form is required to be filled out with the correct details of the applicant and organisation. These include the name, address, type and nature of business activity, bank details, employee details and so on.</p> -->
                     <p class="card-text">Next, fill out the registration form with accurate details including name, address, business type, nature of activity, bank and employee details, ensuring completeness and accuracy for successful registration.</p>
                    </div>
                  </div>
                </div>
              </div>
                <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-5: Submission of the Udyam registration form</h5>
                      
                      <!-- <p class="card-text">After the Udyam registration form is filled out completely, a second OTP is sent on the applicant’s mobile number. This will only be applicable to new registrations. After submitting the OTP, the applicant can finally submit the registration form. </p> -->
                     <p class="card-text">After completing the Udyam registration form, a second OTP is sent to the applicant's mobile number for verification. This step is required only for new registrations. Enter the OTP to submit the form.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-6: Issuance of MSME Registration Certificate</h5>
                      
                      <p class="card-text">After the MSME Registration form is submitted, a thorough examination is carried out by the concerned authorities at the MSME Ministry. After a successful examination, the authorities will issue an MSME Registration Certificate with MSME Registration Number written on it.</p>
                     
                    </div>
                  </div>
                </div>
              </div>
 



            </div>
            </div>
          </div>
          <div class="div2-container" id="dpiit1" >
            <div class="div2-1-img" data-aos="fade-left">
             
                  <img src="../assets/startupindia.png"  alt="" srcset="">
              
            </div>
            <div class="div2-2-text">
              <h3 id="ddit" style="opacity: 0;">text</h3>
              <div class="div2-2-heading">
                <h2>How To Get Startup India Recognition?</h2>
              </div>
           <p >   Wondering how to register for Startup India? We provide full assistance through the documentation and Startup India Registration Process. Our experts make sure your application is filed with the correct information, product description, and prescribed documents. We are here to help you get your Startup Recognition Certificate easily, affordably and in minimal time.</p>
             <div class="card-container">
              <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-1: Incorporate your Startup</h5>
                    
                      
                      <p class="card-text">An unregistered business entity cannot qualify as a startup under the Startup India Scheme. So, the first step towards Startup India Recognition is to incorporate your business with the concerned authority.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-2: Register on the Startup India Portal</h5>
                    
                      <p class="card-text">The next step is to register your business on the Startup India Portal. For this, you will have to submit the required details along with your contact details for OTP verification. Contact details include your registered mobile number and email address.</p>
                     
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-3: Create your Complete Profile</h5>
                    
                      <p class="card-text">Fill in details like the current stage of your startup, directors / partners, the authorised representative, and so on. Also provide information about the business plan, funding, intellectual property and business activities.</p>
                     
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-4: Fill out the application for DPIIT Recognition</h5>
                     
                      <p class="card-text">Click on “DPIIT Recognition” on your portal, and a form will appear on the screen. Fill out and submit the form with the scanned copies of the prescribed documents.</p>
                     
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step-5: Obtain DPIIT recognition Certificate</h5>
                      
                      <p class="card-text">The DPIIT will examine the application thoroughly, and ultimately issue a Certificate of Recognition to your startup. The Certificate will contain </p>
                     
                    </div>
                  </div>
                </div>
                
              </div>




            </div>

            </div>
          </div>
          <div class="div2-container"  id="iec1" >
            <div class="div2-1-img" data-aos="fade-left">
             
                      <img src="../assets/IEC.png"  alt="" srcset="">
              
            </div>
            <div class="div2-2-text">
              <h3 id="iec" style="opacity: 0;">text</h3>
              <div class="div2-2-heading">
                <h2 >Import Export Code Registration</h2>
              </div>
            <p >  The Stepwise Process For Annual Renewal of IEC</p>
              <div class="card-container">
              <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">STEP 1 – Documentation</h5>
                    
                      
                      <p class="card-text">Before beginning the process of IEC code registration, you must arrange all the documents that are required to be submitted with the application for registration. A list of all such documents that must be submitted with the application have been mentioned in the section below. A failure to produce any of the prescribed documents, or filing of incorrect documents might result in the rejection of your entire application, and you might have to file a fresh application again. Therefore, it is advised that you carefully arrange all the documents beforehand to avoid any hassle or hindrance in the filing of application.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">STEP 2 – Visit the DGFT website</h5>
                    
                      <p class="card-text">To begin the process of IEC registration, you must visit the official website of the Director General of Foreign Trade (DGFT). On the homepage of the website, you will have to click on the “Services” tab, and from the dropdown that appears on the screen, you will have to choose the “ IEC Profile Management” option. On clicking this option, you shall be directed to the Registration page of the website.</p>
                     
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">STEP 3 – Register yourself on the DGFT website</h5>
                    
                      <p class="card-text">On the new page that appears for registration, click on the “Apply for IEC option”, following which you can click on the “Register” option. The registration form will appear on the screen where you will be required to fill basic details like name, nature of business, contact number, contact email, and detailed address.</p>
                     
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">STEP 4 – Conduct OTP-based validation</h5>
                     
                      <p class="card-text">After filling out the details in the registration form, you shall be required to generate an OTP for the validation of the contact details mentioned in the form. The OTP will be received on the email ID and mobile number mentioned in the registration form, after their successful validation, a temporary password will be generated, which you can later use to login and fill out the detailed application form for online import export registration.</p>
                     
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">STEP 5 – Login and fill out the application form</h5>
                      
                      <p class="card-text">Using the temporary password, the next step is to login on the DGFT website and fill out the complete application, attach / upload the prescribed documents with it, and pay the prescribed application fees. After the application is complete, you can click on the “submit” option, and wait until your application is being processed. Note that the application to be filled out shall be available in the ANF 2A format. </p>
                     
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">STEP 6 – Issuance of IEC code and IEC certificate of registration</h5>
                      
                      <p class="card-text">After the application for IEC registration has been successfully processed, the DGFT will allot an Import Export Code and issue a registration Certificate to the applicant, as a conclusive proof of his registration of IEC. Only receiving the IEC code and the registration certificate, the applicant can begin import or export activities and conduct legitimate foreign trade. </p>
                     
                    </div>
                  </div>
                </div>
              </div>



              </div>

            </div>
          </div>
          
          </div>
        </div>
      </div>
       
      </div>
     

      <!-- <section class="aboutus-mainheading">
        <h1 style="text-align: center;">About Us</h1>
      </section> -->
      <section class="aboutus" id="aboutus">
        <section class="aboutus-mainheading">
          <h1 style="text-align: center;">About Us</h1>
        </section>
       
        <div class="aboutusall" >
         
         
        <div class="aboutus-heading" >
         
          <h2 style="text-align: center;">We Help Entrepreneurs Make A Living, Doing What They Love</h2>
        </div>
        <div class="aboutus-smallhead" style="text-align: center">
         
          <p style="text-align: center">Incopsquare is an entity built by and for entrepreneurs like you, offering a hassle-free, best-in-class approach to building the right business model. Our platform ensures that your entrepreneurial journey is smooth and efficient. Join us to experience unparalleled support and resources tailored to your business needs.</p>
        </div>
       
      </div>
      </section>

     
    





    <section class="section7" >
     
      <div class="container">
        <h3 id="contactus" style="opacity: 0;">text</h3>
        <div class="section7-1" >
          
          <h3 style="text-align: center;" >Contact Us</h3>
          
        </div>
        <div class="section7-2">
          <p>You can Contact us on below details provided:</p>
        </div>
       
        <div class="section7-4">
          <div class="contents">
           
                <div class="details1">
                  <div class="section7-3 contact" id="contact">
                    <form action="/send-email" class="form" method="POST">
                      <input
                        class="form-input"
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Enter Your Name"
                      />
                      <input
                        class="form-input"
                        type="number"
                        name="phone"
                        id="phone"
                        placeholder="Enter Your Number"
                      />
                      <input
                        class="form-input"
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Enter Your Email"
                      />
                      <textarea
                        class="form-input"
                        name="text"
                        id="text"
                        cols="30"
                        rows="10"
                        placeholder="Elaborate Your Concern"
                      ></textarea>
                      <button class="btn btn-sm btn-dark">Submit</button>
                    </form>
                  </div>
            <div class="further">
                  <p>
                    246, 6th Cross, 8th Main Rd, 2nd Block, Jayanagar,
                    Bengaluru, Karnataka 560011
                  </p>
                  <div class="numbers">
                  <a href="tel:+919731100667">+919731100667</a>
                  <!-- <a href="tel:+919066308081">+919066308081</a> -->
                </div>
                  <p>Email to :- contact@incorpsquare.com</p>
                  <!-- <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.487617592823!2d77.58082197484084!3d12.940619487371853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae158f10c61407%3A0x157611a0dfcef0e5!2sAuditor%20Square!5e0!3m2!1sen!2sin!4v1714823335159!5m2!1sen!2sin"
                    width="500"
                    height="420"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                  ></iframe> -->
                  <div class="location-container">
                    <a href="https://www.google.co.in/maps/place/2nd+Block/@12.9404945,77.5832148,19.79z/data=!4m6!3m5!1s0x3bae1595c568115d:0x79e4f83b86dc836d!4b1!8m2!3d12.9390244!4d77.5828274?entry=ttu">
                  <i class="fa-solid fa-location-dot location-icon" style="font-size: 24px;"></i></a>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d563.2367974854445!2d77.58321477111953!3d12.940494484499574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1595c568115d%3A0x79e4f83b86dc836d!2s2nd%20Block%2C%20246%2C%208th%20Main%20Rd%2C%202nd%20Block%2C%20Jaya%20Nagar%20East%2C%20Jayanagar%2C%20Bengaluru%2C%20Karnataka%20560011!5e0!3m2!1sen!2sin!4v1716290534881!5m2!1sen!2sin" width="500" height="420" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>
    <section class="qna">
    <div class="wrapper">
      <h1>Frequently Asked Questions</h1>

      <div class="faq">
        <button class="accordion">
          What are the types of Company Registration in India?
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
          <p>
            In India, several company registrations cater to different business needs and structures. These include Private Limited Companies, ideal for small to medium-sized businesses with limited liability for shareholders; Public Limited Companies, suitable for large-scale businesses looking to raise funds publicly; One Person Companies, designed for solo entrepreneurs; Partnership Firms, for businesses owned by two or more partners; Limited Liability Partnerships, which offer a mix of partnership flexibility and limited liability; Section 8 Companies for non-profits; and Nidhi Companies, for small community-based financial activities. Each type has unique features and compliance requirements, making it essential to choose one that aligns with your business objectives and structure.
            <table>
              <tbody>
                <tr>
                  <td>
                    <ul>
                  <li>Private Limited Company</li>
                  <li>Public Limited Company</li>
                  <li>One Person Company (OPC)</li>
                  <li>Partnership Firm</li>
                </ul>
                 </td>
                 <td>
                <ul>
                  <li>Limited Liability Partnership (LLP)</li>
                  <li>Section 8 Company</li>
                  <li>Nidhi Company</li>
                </ul>
                </td>
              </tr>
              </tbody>
            </table>
          </p>
        </div>
      </div>

      <div class="faq">
        <button class="accordion">
          What Is the Company Registration Process in India?
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
          <p>
            In India, registering a company is a seamless process that can be done online without visiting government offices. This efficient process involves preparing the necessary documents, obtaining Digital Signature Certificates (DSC), drafting a Memorandum of Association (MoA) and Articles of Association (AoA), and filing the SPICe Plus form. Usually, the incorporation process takes around 3-7 working days, but the time may vary depending on several factors. For a detailed analysis of the process of setting up a company, you may refer to the instructions provided here.
            <table>
              <tbody>
                <tr>
                  <td>
                    <ul>
                  <li>Choose Business Structure</li>
                  <li>Obtain DIN</li>
                  <li>Acquire DSC</li>
                  <li>Select Company Name</li>
                <li>Draft MOA and AOA</li>
                  <li>Submit SPICe+ Form</li>
                  <li>MCA Verification</li>
                  <LI>Issuance of COI</LI>
                </ul>
                </td>
              </tr>
              </tbody>
            </table>
          </p>
        </div>
      </div>

      <div class="faq">
        <button class="accordion">
          What are the company registration fees in India?
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
          <p>
            The cost of registering a Private Limited Company in India depends on various factors, such as the number of promoters, the authorised capital of the company, and the location of its registered office. The registration fees can also differ as these factors vary in each case. If you require specific details or a tailored estimation of the registration cost, it’s advisable to consult directly with our experts.
            <table>
              <tbody>
                <tr>
                  <td>
                    <ul>
                  <li>Number of Directors or Shareholders</li>
                  <li>Proposed Capital of the Company</li>
                  <li>The state where the company will have its registered office</li>
                </ul>
                </td>
              </tr>
              </tbody>
            </table>
          </p>
        </div>
      </div>

      <div class="faq">
        <button class="accordion">
          What are the Documents Required for Company Registration in India?
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
          <p>
            To register a company in India, certain essential documents are required for all promoters and the registered office. This includes identification proofs like PAN and Aadhaar cards, address proofs for all promoters, Digital Signature Certificates for directors and shareholders, and documentation concerning the registered office, such as proof of its address and a No Objection Certificate from the premises owner. These documents are fundamental to the registration process, ensuring legal compliance and verification of all involved parties. below is a list of all the required documents that you will need to provide for all the promoters and the registered office address:
            <table style="border: none;">
              <tbody >
                <tr>
                  <td>
                    <ol>
                  <li>PAN Card</li>
                  <li>Aadhar</li>
                  <li>Identity and address proofs of all promoters</li>
                  <li>DSC of all directors and shareholders</li>
                  <li>Proof of registered office address</li>
                  <li>No Objection Certificate from the owner of registered premises
                  </li>
                </ol>
                </td>
              </tr>
              </tbody>
            </table>
          </p>
        </div>
      </div>

      <div class="faq">
        <button class="accordion">
          What is the Difference Between Company Registration and Company Incorporation?
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
          <p>
            Company registration” and “company incorporation” are two terms that are often used interchangeably, but they actually have a subtle difference. Company registration is the process of giving a business formal legal recognition and establishing it as a separate entity. On the other hand, company incorporation goes a step further by creating a more complex corporate structure with specific benefits, such as limited liability protection. While registration is a fundamental step for legal recognition, incorporation involves additional advantages and creates a more advanced legal entity.
          </p>
        </div>
      </div>

    </div>
    </section>
    
    <footer>
      <div class="footer-top">
        <div class="footer-top-1">
          <div class="footer-text-image">
          <!-- <div class="footer-top-1-1">
            <img src="../assets/logo__2_-removebg-preview.png" alt="logo" />
          </div> -->
          <!-- <div class="footer-top-1-2">
            <p>One place for all Incorperation Services</p>
          </div> -->
        </div>
        <div class="footer-top-2">
          <div class="footer-top-2-1">
            <!-- <div class="footer-top-2-2">
              <h4>Goverment Websites</h4>

              <ul class="footer-links">
                <li>
                  <a
                    href="https://www.mca.gov.in/content/mca/global/en/home.html"
                    title="Help center"
                    >Ministry of Corporate Affairs</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.gst.gov.in/"
                    title="Discussions"
                    >Goods & Service Tax</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.incometax.gov.in/iec/foportal/"
                    title="Contact support"
                    >Incometax Efilings</a
                  >
                </li>
                <li>
                  <a href="https://www.ekarmika.karnataka.gov.in/ekarmika/static/home.aspx" title="Blog"
                    >Karnataka S & E</a
                  >
                </li>
                <li>
                  <a href="https://msme.gov.in/" title="Blog"
                    >MSME</a
                  >
                </li>
                <li>
                  <a href="https://www.startupindia.gov.in/" title="Blog"
                    >Startup India</a
                  >
                </li>
                <li>
                  <a href="https://tmrsearch.ipindia.gov.in/tmrpublicsearch/" title="Blog"
                    >Trademark Search</a
                  >
                </li>
              </ul>
              </div> -->


            </div>
         </div>
        </div>
      <span class="delimiter delimiter--style-1 delimiter--style-1-v2"></span>
      <div class="footer-bottom">
        <div class="footer-bottom-1">
          <div class="footer-bottom-2">
            <div class="footer-bottom-3">
              <a href="https://wa.me/+919731100667?text=Hello,%20I%20have%20visited%20your%20website%20and%20want%20to%20know%20more%20about%20your%20company?" target="_blank" class="whatsapp-link"><i class="fa-3x fa-brands fa-whatsapp" ></i></a>

            </div>
            <div class="footer-bottom-4">
              <a href="#contactus" class="whatsapp-link1" id="contactLink"><i class="fa-solid fa-phone"></i></a>
            </div>
            <div class="footer-up-5">
              <a href="#home" class="logolink"><img src="../assets/logo__2_-removebg-preview.png" alt="Logo" style="width: 150px; height: 150px;" /></a>
            </div>
            <div class="col-8">
              <div class="copyright text-center c-white">
                (Copyright © 2024)
               
                  <strong>Terms and Conditions, and Privacy Policy</strong>
               
                - All rights reserved
              </div>
            </div>
          </div>
         </div>

        



        </div>
       
      
            <!--Pop Up Form-->
   
    <!--pop up form-->
     </footer>
     
    
    <script src="../public/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
      var swiper = new Swiper(".card_slider", {
        slidesPerView: 3,
        spaceBetween: 30,
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        autoplay: {
          delay: 10000, /*2500*/
          disableOnInteraction: false,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          320: {
            slidesPerView: 1,
          },
          480: {
            slidesPerView: 3,
          },
          768: {
            slidesPerView: 4,
          },
          1200: {
            slidesPerView: 4,
          },
        },
      });
    </script>
    
   <script>
    var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      this.parentElement.classList.toggle("active");
  
      var pannel = this.nextElementSibling;
  
      if (pannel.style.display === "block") {
        pannel.style.display = "none";
      } else {
        pannel.style.display = "block";
      }
    });
  }
  </script>
  
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    offset: 300,
    duration: 1000,
  });


  
</script>



   </body>
</html>


<!--Navbar-->

 <!-- <div class="navbar" id="navbar"> -->
      <!-- <div class="navbar-left">
        <a href="/">
          <img src="../assets/logo__2_-removebg-preview.png" alt="Logo" />
        </a>
      </div> -->
      <!-- <div class="navbar-center">
        <a href="#home" > Home</a>
        <div class="dropdown">
        <a href="#services" class="dropdown-toggle">Services</a>
        <div class="dropdown-content">
         
          <a href="#pllc">Private Limited Company </a>
          <a href="#llp">Limited Liability Partnership</a>
          <a href="#p">Partnership</a>
          <a href="#sp">Sole Proprietorship</a>
          <a href="#gst">GST</a>
          <a href="#mr">MSME</a>
          <a href="#ddit">Startup India</a>
          <a href="#iec">IEC</a>
        </div>
      </div>
        <a href="#aboutus">About Us</a>
        <a href="#contactus">Contact Us</a>
      </div> -->
      <!-- <div class="navbar-right">
        
        <input type="button" class="btn" value="Contact" />
      </div>  -->
     <!-- <div class="hamburger-menu" id="hamburgerMenu">
        <div class="hamburger-menu-bar"></div>
        <div class="hamburger-menu-bar"></div>
        <div class="hamburger-menu-bar"></div>
      </div>
      <div class="close-button" id="closeButton">&times;</div>
    </div>  -->