body {
  

  font-family: Arial, sans-serif;
 width: 100%;
  overflow-x: hidden; 
 background-color: white !important;

}
textarea{
  resize: none !important;
}
html{
  scroll-behavior: smooth;
  
}





 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 5000 !important;
  transition: background-color 0.9s ease !important;
  /* box-shadow: 2px 11px 10px rgba(0, 0, 0, 0.2); */
  
}
#navbar{
   position: sticky ;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0);
 background-color: none;
  
}

.navbar-white{
  background-color: rgba(0, 0, 0, 0);
 
}

.navbar-orange{
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #efab30 !important;
 
 
}


.navbar-left{
  position: sticky;
  top: 0px;
  bottom: 0px;
}
.navbar-left img {
  height: 60px;
  margin-left: 23px;
}

.navbar-center {
  flex-grow: 1;
  text-align: center;
  display: flex;
    justify-content: center;
   
    /* margin-right:50px ; */
}
.navbar-center a
 {
  margin: 0 15px;
  color: black;
  text-decoration: none;
  font-weight: 600;
    /* font-size: 21px; */
    font-size: 20px;
   
 
}
 .navbar-center a:hover {
  text-decoration: underline;
  color:#636363;
  
  
} 



.navbar-right a {
  margin-left: 15px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  margin: 0 21px;
  font-size: 13px;
  
}
.navbar-right {
  position: absolute;
    right: 32px;
}
.close-button{
  display: none;
}
.btn{
  padding: 9px 23px;
    border-radius: 25px;
    background-color: #636363;
    color: #FCFCFC;
    border: none;
    display: block;
    margin: 0 auto;
    
}

 .dropdown-content {
  display: none;
  position: absolute ;
  left: 50% ;
  transform: translateX(-50%) ;
  background-color: rgba(239,171,48) ;
  min-width: 160px ;
  box-shadow: 5px 8px 16px 0px rgba(0,0,0,0.2) ;
  z-index: 7000 ;
  width: 25vw ;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
} 
.navbar-right input{
  padding: 20px;
  border-radius: 21px;
  background-color: #efab30;
  border: 0.5px solid #f0f7ff;
  /* color: #f0f7ff; */
 /* border: none; */
 font-weight: 600;
 font-size: 16px;
} 



@media screen and (max-width: 1108px) {
  .navbar{
    display: block;
  }
  .navbar-center, .navbar-right {
    display: none;
  }

  .hamburger-menu {
    display: block; 
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    border: none;
    background: none;
    position: absolute;
        top: 0;
        right: 0;
  }

  .hamburger-menu-bar {
    width: 25px;
    height: 3px;
    background-color: grey; 
    margin: 4px 0;
  }

  .navbar.open .navbar-center,
  .navbar.open .navbar-right {
    display: block;
    display: flex;
    flex-direction: column;
    /* padding: 23px 41px; */
   text-align: center;
  }
  .navbar-center a{
    padding: 13px 12px;
  }

  .navbar.open .hamburger-menu {
    display: none;
   
  }

  .close-button {
    display: none;
    cursor: pointer;
    font-size: 24px;
  }

  .navbar.open .close-button {
    display: block; 
    position: absolute;
        top: 3px;
        right: 3px;
  }
  .navbar-right a{
    padding: 12px 5px;
  }
  
} 


/*section1*/
.section1{
  height:92vh;
}
.section1 .div1{
  display: flex;
    padding: 16px 15px;
    margin: 0 53.66px;
    gap: 136px;
    height: 100%;
   
   
    align-items: center;
  
}

.section1 .div1-2 img{
  width: 100%;
}
.section1 .div1 .div1-1 h1{
  margin: 0 0 6px;
  font-size: 40px;
  font-weight: 500;
  font-family: Poppins,sans-serif;
}
.div1-2-text input{
  padding: 12px;
  border-radius: 21px;
  /* background-color: #626262; */
  background-color: #efab30;
  border: 0.5px solid;
  color: #f0f7ff;
  /* border: none; */
}
.section1 .div1 .div1-1 p{
  margin: 8px 0px 16px;
  text-align: justify;
}
.div1 .div1-2{
  width: 100%;
  text-align: center;
}

/* @keyframes changeBackground {
  0%{
   opacity: 1;
    background-image: url("/assets/1\ flat-lay-clean-office-desk.jpg");

  }
  25% {
    opacity: 1;
    background-image: url("/assets/2\ lum3n--RBuQ2PK_L8-unsplash.jpg");
   
    
  }
  50%{
    opacity: 1;
    background-image: url("/assets/3\ top-view-desk-concept-with-laptop.jpg");
  }
  75%,100%{
    opacity: 1;
    background-image: url("/assets/4\ new\ top\ view\ 2.png");
   
  } */

  /* 100%,0%{
    opacity: 1;
    background-image: url("/assets/1\ flat-lay-clean-office-desk.jpg");
   
  } */
/* } */

/* .bg-image{
 
  background-repeat: no-repeat;
  background-size: cover;
  animation: changeBackground 20s normal infinite;
} */


/* @keyframes changeBackground {
  0%, 25%, 50%, 75%, 100% {
    opacity: 1;
  }
  20%, 45%, 70%, 95% {
    opacity: 0;
  }
}

.bg-image {
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.bg-image::before, .bg-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: opacity 20s ease-in-out;
  opacity: 0;
}

.bg-image::before {
  background-image: url("/assets/1 flat-lay-clean-office-desk.jpg");
  animation: changeBackground 20s infinite;
}

.bg-image::after {
  background-image: url("/assets/2 lum3n--RBuQ2PK_L8-unsplash.jpg"), url("/assets/3 top-view-desk-concept-with-laptop.jpg"), url("/assets/4 new top view 2.png");
  animation: changeBackground 20s infinite 20s;
}

@keyframes changeBackgroundBefore {
  0%, 25%, 50%, 75%, 100% {
    opacity: 1;
  }
  20%, 45%, 70%, 95% {
    opacity: 0;
  }
}

@keyframes changeBackgroundAfter {
  0%, 25%, 50%, 75%, 100% {
    opacity: 0;
  }
  20%, 45%, 70%, 95% {
    opacity: 1;
  }
}

.bg-image::before {
  animation: changeBackgroundBefore 20s infinite;
}

.bg-image::after {
  animation: changeBackgroundAfter 20s infinite;
}
 */
 @keyframes changeBackgroundBefore {
  0%, 25%, 50%, 75%, 100% {
    opacity: 1;
  }
  20%, 45%, 70%, 95% {
    opacity: 0;
  }
}

@keyframes changeBackgroundAfter {
  0%, 25%, 50%, 75%, 100% {
    opacity: 0;
  }
  20%, 45%, 70%, 95% {
    opacity: 1;
  }
}

.bg-image {
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.bg-image::before, .bg-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
}

.bg-image::before {
  background-image: url("/assets/1 flat-lay-clean-office-desk.jpg");
  animation: changeBackgroundBefore 20s infinite;
}

.bg-image::after {
  background-image: url("/assets/2 lum3n--RBuQ2PK_L8-unsplash.jpg"), url("/assets/3 top-view-desk-concept-with-laptop.jpg"), url("/assets/4 new top view 2.png");
  animation: changeBackgroundAfter 20s infinite;
}

.div1 {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 20px;
}

.div1-text1, .div1-text2, .div1-text3, .div1-text4 {
  margin: 10px 0;
}





.div1-text .div1-text1,.div1-text .div1-text2{
  color: #000;
}
.div1-text .div1-text3,.div1-text .div1-text4{
  color: #000;
  text-align: justify;
}
.div1-text1 h3,.div1-text2 h1,.div1-text3 p{
  text-shadow: 2px 3px 4px rgba(100, 99, 97, 0.6);
  width: 80%;
  text-align: justify;
}

.div1-text .div1-text4 input{
  padding: 5px;
    border-radius: 12px;
    border: none;
    color: #f0f7ff;
    /* background-color: #55595C; */
    background-color: #efab30;
   
}
.section1 .div1 .div1-text{
  margin-left: 81px;
    width: 100%;
}

/*section2*/
.section2{
  background-color: #FCFCFC;
  /* background-color: #efab30; */
  color: #55595C;
  padding: 25px 0px;
}
.section2 .div1{
  text-align: center;
  margin: 0 0 90px;
}
.section2 .div1-1 h3{
  font-size: 39px;
    font-style: helvetica;
    /* font-family: "Poetsen One", sans-serif; */
    font-family: "Poetsen One", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.section2 .div1-1 p{
  font-weight: 600;
}
.section2 .div1-2{
  display: flex;
  gap: 34px;
  width: 100%;
  margin: 0 12px 66px;
}
.section2 .div1-2 p{
  text-align: justify;
  margin: 0 6%;
}
.section2 .div1-2-img{
  width: 40%;
} 
.section2 .div1-2-text{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 23px;



}
.card-container .card-body{
  background-color: orange;
}
.section2 .div1-2-1 .card1{
  padding: 0 15px;
}
.section2 .div1-2-1 .card2{
  padding: 0 15px;
}
.section2 .div1-2-1 .card3{
  padding: 0 15px;
}
.section2 .div1-2-1 .card4{
  padding: 0 15px;
}
.section2 .div1-2-2 .card1{
  padding: 0 15px;
}

.section2 .div1-2-2 .card2{
  padding: 0 15px;
}
.section2 .div1-2-2 .card3{
  padding: 0 15px;
}
.section2 .div1-2-2 .card4{
  padding: 0 15px;
}
/* .section2 .div1-2{
  display: flex;
} */

.section2 .div1-2-1{
  display: flex;
 justify-content: center;
}
.section2 .div1-2-2{
  display: flex;
  justify-content: center;
}
.section2 .card1-1,.section2 .card2-2,.section2 .card3-3,.section2 .card4-4{
  padding: 24px;
}
.div1-2 .image{
  margin: 24px 0 0;
}
.div1-2 img{
  margin: 0 0 16px;
  width:50%;
}
.div1-2 h3 a{
  text-decoration: none;
  color: #3452ff;
  font-size: 18px;
}
.div2-container{
  display: flex;
  gap: 5%;
  margin: 13% 0;
  padding: 0 0px 0px 114px;
}
.div2 .div2-1{
  margin: 10% 4%;
}
.div2-1-img img{
  width: 80%;
  
  /* position: sticky;
  top: 3px;
  bottom: 27px; */


}
.div2-1-img{
  width: 68%;
  margin: -64px 0px;
  display: flex;
    align-items: center;
    justify-content: center;
}
.div2-container:nth-child(even){
  display: flex;
  flex-direction: row-reverse;
  padding: 0 71px;

}


.div2-container .div2-2-text{
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.div2-container .div2-2-text .div2-2-heading h2{
  font-family: "Poetsen One", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 39px;
}
.card-container{
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.card-container .card{
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.card-container .card:hover{
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 50);
  cursor: grab;
  transition: all 0.4s ease-out;
   transform: scale(1.1);
   z-index: 1001;
   
}




.card {
 
 
  aspect-ratio: 2; /* Equal height and width */
}

.swiper-slide .img_box a img{
  height: 250px;

  /* box-shadow: 5px 8px 7px rgba(128, 128, 128, 50); */
  box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.5);
  cursor: grab;
  transition: all 0.4s ease-out;
  
   z-index: 1001;
   
}



/*section3*/

.section3{
    width: 100%; 
   background-color: #636363;
   padding: 24px 0;

}
.section3 .div3{
  display: flex;
  justify-content: center;
  padding: 0 15px;
  margin: 0 44.88px;
  text-align: center;
}

.section3 .div3 .div3-1-1{
  padding: 0 15px;
}
.section3 .div3 .div3-2-2{
  padding: 0 15px;
}
.section3 .div3 .div3-3-3{
  padding: 0 15px;
}
.section3 .div3 h3{
  margin: 0 0 6px;
  padding: 16px 0 0;
}
.section3 .div3 .block-content{
  padding: 0 0 0 70px;
}
.section3 .div3 img{
  height: 60px;
  width: 60px;
}
.section3 .div3 h3{
  color: #fff;
}

/*footer*/

footer .footer-top{
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-top-1{
  padding: 0 15px;
  display: flex;
  justify-content: center;
  gap: 102px;
}
.footer-top-1-1{
  padding:42px 213px;;
}
.footer-top-1-1 img{
  width: 198px;
  height: 130px;
}
.footer-top-1-2 p{
  margin: 16px 0;
  /* color: #FFF; */
}
.footer-top-2-1{
  padding: 0 142px;
}
.footer-top-2-2{
  padding: 0 15px;
}
.footer-top-2-2 h4{
   font-size: 12px;
   /* color: #FFFFFFCC; */
   margin: 25px 0 4px;
   text-align: center;
}
.footer-top-2-2 ul li a{
 padding:4px 0 ;
  /* color: #FFFFFFB3; */
  text-decoration: none;
  font-size: 12.8px;
  color: #000;
  
}
.fa-whatsapp{
  color:rgb(80,196,82);
}
.whatsapp-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2000; /* Ensure it's above other content */
  /* background-color: #rgb;
  color: #fff; */
  background-color: #FCFCFC;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

/* Hover effect */
.whatsapp-link:hover {
  background-color: #128c7e;
}
.footer-top-2-2 ul li{
  list-style: none;
}
.footer-top-2{
  display: flex ;
 
}
.footer-bottom{
  padding: 24px 0;
}
.footer-bottom .footer-bottom-1{
  padding: 0 15px;
  margin: 0 74px;
}
.footer-bottom-2 {
  margin: 0 -15px;
  display: flex;

}
.footer-bottom-3{
  padding: 0 15px;
}
.footer-bottom-4{
  padding: 0 15px;
}
.whatsapp-link1 {
  position: fixed;
  bottom: 120px;
  right: 20px;
  z-index: 2000;
  background-color: #FCFCFC;
  padding: 22px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}
.fa-phone:before {
  content: "\f095";
  font-size: 23px;
}
.logolink{
  position: fixed;
 top: 37px;
  left: -6px;
  z-index: 6000 !important;
  background-color: #FCFCFC;
  /* padding: 22px; */
  /* border-radius: 50%; */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  transition: background-color 0.3s;
  background-color: rgb(250, 249, 249,-12);
}
.footer-bottom-1-1{
  padding: 0 15px;
}
.footer-bottom-1-1 ul li a{
  text-decoration: none;

}
.footer-bottom-1-1 ul li{
  list-style: none;
}
.c-white{
  margin: 0 16px 0 0;
  /* color: #FFF; */
  color: #000;
}
.copyright a{
  /* color: #fff; */
  text-decoration: none;

}
.social-media {
  display: inline-flex;
    gap: 4px;
}
.footer-bottom-4{
  padding: 24px 0;
}
.footer-text{
  padding: 0 15px;
  
}
.footer-text p{
  /* color: #FFF; */
  margin: 0 0 16px;
  font-size: 12px;
}
.section7{
  background-color: #efab30;
}
.section7 .section7-1 h3{
  font-size: 40px;
  margin: 0 0 5px;
  text-align: center;
}
.section7 .section7-2 p{
  /* color: #818A91; */
  text-align: center;
  margin: 0 0 16px;
}
.contact{
  width: 50%;
  height: 536px;
}
.form{
  /* max-width: 62%; */
  margin: 26px auto;
  text-align: center;
}
textarea {
  resize: none;
}

.form-input{
  width: 100%;
  font-size: 19px;
  border: 2px solid grey;
  border-radius: 6px;
  margin: 14px 0;
  padding: 5px 3px;
}
.section7-4{
  margin:24px;
}
.contents{
  display: flex;
    gap: 30px;
}
.details1{
  display: flex;
    width: 100%;
    gap: 41px;
    margin: 0 0 12%;
}
.further a{
  text-decoration: none;
  color: #55595C;
  text-align: center;
}
 


/*FAQ*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 75%;
  margin: auto;
  margin-bottom: 89px;
}

.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.wrapper > h1 {
  letter-spacing: 3px;
}

.accordion {
  /* background-color: white; */
  background-color: orange;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.accordion i {
  font-size: 1.6rem;
}

.active,
.accordion:hover {
  background-color: #f1f7f5;
}
.pannel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: white;
  overflow: hidden;
  background-color: #f0f7ff;
  display: none;
}
.pannel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}
.faq.active {
  border: none;
}
 table{
  border: 0.5px solid black ;
}
.aboutus{
   padding: 16% 8% 28%; 
}
.aboutusall{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}















